<nav>
	<div class="nav-wrapper">
      	<li class="brand-logo">{{site.name}}</li>
      	<a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
      	<ul class="right hide-on-med-and-down">
        	<li><a href="/">HOME</a></li>
			<li><a href="/tags.html">SEARCH BY TAG<i class="material-icons right">search</i></a></li>
			<li><a target="_blank" href="https://sqor.com/contact">CONTACT</a></li>
			<li><a target="_blank" href="https://sqor.com/jobs">JOBS</a></li>
			<li><a target="_blank" href="https://sqor.com/press">PRESS</a></li>
			<li><a target="_blank" href="https://sqor.com">SQOR SPORTS</a></li>
      	</ul>
      	<ul class="side-nav" id="mobile-demo">
        	<li><a href="/">HOME</a></li>
			<li><a href="/tags.html">SEARCH BY TAG</a></li>
			<li><a target="_blank" href="https://sqor.com/contact">CONTACT</a></li>
			<li><a target="_blank" href="https://sqor.com/jobs">JOBS</a></li>
			<li><a target="_blank" href="https://sqor.com/press">PRESS</a></li>
			<li><a target="_blank" href="https://sqor.com">SQOR SPORTS</a></li>
      	</ul>
    </div>
</nav>
